@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.row{
    margin: 0 !important;
}

@mixin line {
    .line{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 110px;
            height: 3px;
            background-color: #F5DA87;
            margin-left: -43px;
            margin-top: 1%;
        }
    }
}

#slideshow { 
    position: relative; 
    height: 752px;

    .slideItems { 
            .slideItemsAnimation{
                position: absolute;
                z-index: 2;
                top: 200px;
                color: white;
                width: 50%;
                left: 10%;
                font-size: 100px;
                font-weight: bold;
                opacity: 0;
                .subTextAnimation1{
                    font-size: 20px;
                    opacity: 0.5;
                    font-weight: normal;
                }
            }
            .slideItemsAnimation2{
                position: absolute;
                z-index: 2;
                top: 200px;
                color: white;
                width: 50%;
                right: 5%;
                margin-top: 100px;
                font-size: 50px;
                opacity: 0;
                .subTextAnimation{
                    font-size: 20px;
                    opacity: 0.5;
                }
            }
            .btn-animation{
                position: absolute;
                z-index: 2;
                top: 200px;
                color: white;
                width: 500px;
                right: 30%;
                margin-top: 25%;
                background-color: transparent;
                width: 20%;
                padding: 50px;
                border-radius: 25px;
                border: 2px solid rgba(255, 255, 255, 0.466);
                font-size: 30px;
                font-weight: bold;
                opacity: 0;
            }
                @media (max-width: 800px) {
                    .btn-animation{
                        display: none;
                    }
                }
    }
    .animation{
        transition: all 1s ease-in-out;
        top: 100px !important;
        opacity: 1 !important;
    }
    .slideImg{
        width: 100%;
        height: 100vh;
        position: absolute;
    }
}

.section2{
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    svg{
        margin-bottom: 30px;
    }
    .icone-text{
        font-size: 22px;
        font-weight: 500;
    }
    .icone-text_2{
        font-size: 12px;
        color: darkgray;
    }
}
@media(max-width: 564px){
      .section2{
          margin-left: 100px;
      }  
}

.Our_Services{
    background-image: url(../img/bg-01.jpg);
    background-size: contain;
    background-position: center;
    padding: 17% 0% 5% 0%;
    .text-section{
        margin-top: -10%;
        h1{
            color: #2E3E60;
            font-weight: 500;
        }
        p{
            color: #98908F;
            padding: 0 25%;
        }
    }
    .img{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 5% 5%;
        img{
            width: 20%;
        }
    }
}

.Welcome_to{
    padding: 5% 5%;
    h2{
        color: #2E3E60;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 5%;
    }
    p{
        color: #8F8685;
        font-size: 18px;
    }
    .read_more_button{
        background-color: unset;
        padding: 20px 60px;
        border-radius: 40px;
        border: 1px solid rgba(190, 185, 185, 0.466);
        font-size: 15px;
        -webkit-box-shadow: 0 0 black;
        box-shadow: 0 0 black;
        margin-top: 13%;
        &:hover{
            background-color: #DD87A5;
            color: white;
        }
    }
    .video-link{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
            .video_play_icone{
                position: absolute;
                align-self: flex-end;
                margin-bottom: 25%;
            &:hover{
                transform: scale(1.1);
                transition: transform .5s ease-in-out;
            }
        }
    }
}

.Meet_Our_Experts{
    padding: 5% 5%;
    background-color: #F8F8F8;
    h2{
        color: #2E3E60;
        font-weight: 500;
        font-size: 50px;
    }
    @include line;
    .Our_Experts_Cards{
        margin-top: 5%;
        img{
            padding: 15% 0%;
        }
        .card{
            margin-bottom: 15%;
        }
    }
}

.Products_We_Use{
    padding: 5% 5%;
    color: #2E3E60;
    @include line;
    .line{
       &::after{
        margin-left: 0%;
        height: 2px;
        width: 80px;
       }
    }
    h2{
        color: #2E3E5F;
        font-weight: bold;
    }
    p{
        color: #AC8685;
        font-size: 15px;
        margin-top: 80px;
    }
    .img{
        img{
            margin: 10% 4% 3% 0%;
            width: 15%;
            &:hover{
                transition: transform .5s ease-in-out;
                transform: scale(1.1);
            }
        }
    }
}

.Testimonials{
    background-image: url(../img/bg-01.jpg);
    background-size: contain;
    background-position: center;
    padding: 2% 10% 5% 10%;
    @include line;
    .line{
        &::after{
            margin-top: -2%;
        }
     }

}


.slider_items{
    > h2{
        color: #C18BB1;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .left_right_button{
        position: relative;
        .left_button{
            position: absolute;
            left: 0;
            z-index: 100;
            margin-top: 12%;
            font-size: 60px;
            opacity: 0;
            &:hover{
                opacity: 0.5;
                transition: opacity 0.5s ease-in-out;
                color: #C18BB1;
            }
        }
        .right_button{
            position: absolute;
            right: 0;
            z-index: 100;
            margin-top: 12%;
            font-size: 60px;
            opacity: 0;
            &:hover{
                opacity: 0.5;
                transition: opacity 0.5s ease-in-out;
                color: #C18BB1;
            }
        }
    }
}


